/* CSS */
* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    background-color: #6d6d6d;

}

body {
    text-align: center; 

}

button {
    margin-top: 10px;
}

em {
    font-size: xx-small;
}

p {
    width: 500px;
    margin: 15px auto;
}

#container {
    margin: auto;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
}

#text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#info {
  	color: rgb(150, 150, 150);
}
